apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: demo-phoneinfoga-app
  name: demo-phoneinfoga-app
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: demo-phoneinfoga-app
  template:
    metadata:
      labels:
        app: demo-phoneinfoga-app
    spec:
      containers:
        - image: sundowndev/phoneinfoga@sha256:47fb42e9390ee4d5889b061c9a81cead5b308567bbe81503d98a2e518a55ee5e
          args:
            - serve
          name: demo-phoneinfoga-app
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
              name: http
