name: Documentation CI

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs==1.1 mkdocs-material==5.1.0 mkdocs-minify-plugin==0.3.0

    - name: Deploy
      run: |
        git remote set-url origin https://${{ secrets.GITHUB_USER }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ secrets.GITHUB_USER }}/PhoneInfoga.git
        git config --global user.email "${{ secrets.GITHUB_USER }}@users.noreply.github.com"
        git config --global user.name "${{ secrets.GITHUB_USER }}"
        mkdocs gh-deploy --force
