name: Docker Push latest

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(toJson(github.event.commits), '[action]') == false
    steps:
      - uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2.2.0 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          push: true
          tags: sundowndev/phoneinfoga:next
          platforms: linux/amd64

      - name: Display new image digest
        run: echo "sundowndev/phoneinfoga@${{ steps.docker_build.outputs.digest }}"
